.campo-texto {
  margin-bottom: 20px;
}

.campo-texto input {
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0.06);
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.campo-texto label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}
